body{
   background-color:#DAE9F5;
}

.container{

    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color:#ADD9F7;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 0;
    padding: 30px;
    align-items: center;

}

.heading{
    color: #4460A7;
}
.description{
    color: #4460A7;
    font-size: large;
    font-weight: bolder;
}

label{
    color: #4460A7;
    font-size: larger;
    font-weight: bolder;
    margin: 10px;
}

#bill-amount{
    align-self: center;
    text-align: center;
    padding: 5px;
    border: 2px solid #4460A7;
}

#cash-given{
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid #4460A7;
}

#check-button{
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #4460A7;
    background-color: #8ac6f4;
}

td th{
  border: 1px solid black;
  text-align: center;
}

.change-table{
    border-color: #4460A7;
    border: 2px solid #4460A7;
    margin-bottom: 20px;
    width: 100%;
    align-content: center;
}


caption{
    font-size: larger;
    font-weight: bolder;
    color: #4460A7;
    margin-bottom: 10px
}

footer a{
    font-size: large;
    margin: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}
footer{
   position: fixed;
  background-color: #368DC5;
 padding: 1rem;
 right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}